<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Page</title>
</head>
<body>
됐지롱
<p>세션 속성 값: <span th:text="${session.userId}"></span></p>

<!--<h2 th:text="${session.getAttribute('userId')}"></h2>-->
<!--<p>아이디: <span th:text="${session.getAttribute('userId')}"></span></p>-->
<!--<p>암호: <span th:text="${session.getAttribute('userPw')}"></span></p>-->
<!--<p>이름: <span th:text="${session.getAttribute('userName')}"></span></p>-->
<!-- 이하 추가적인 내용 작성 -->
</body>
</html>
