<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>강남책방</title>
</head>
<body>
<div>
<h1>도서 대출</h1>
</div>
<div >
    <img src="images/KNU.png" height="90" width="90"/></div>
<form action = "/login" method ="POST">
<div>
    ID : <input type = "text" name="id"><br><br>
    PW : <input type = "text" name ="pw"><br><br>
</div>
<div>
    <input type = "submit" value = "로그인">
</div>
</form>

<form action="/register" method="get">
    <input type = "submit" value = "회원가입">
</form>

</body>
</html>