<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>강남책방</title>
</head>
<body>
<div>
<h1 style = "text-align:center">도서 대출</h1>
</div>
<div style = "text-align:center">
    <img src="../static/images/images/KNU.jpg" height="90" width="90"/></div>
<form action = "/login">
<div>
    ID : <input type = "text" name="id"><br><br>
    PW : <input type = "text" name = "pw"><br><br>
</div>
<div>
    <input type = "submit" value = "로그인">
</div>
</form>
    <button type="button" onclick="location.href='/register' ">회원가입</button>
</body>
</html>