<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Register Result</title>
</head>
<body>
<div>
    <h2>회원가입</h2>
    <img src="/images/KNU.png" height="90" width="90"/>
</div>
<div>
    <form action="/register" method="post">
        New ID : <input type = "text" name="userId"> <br/>
        New PW : <input type = "text" name="userPw"> <br/>
        Your Name : <input type = "text" name="userName"><br/>
        <input type="submit" value="가입하기">
    </form>
</div>
</body>
</html>
