<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
<th:block th:replace="~{menu :: menu}"/> <!-- 최용석과 추가-->
<div style = "text-align:center">
    <h2 style = "text-align:center">회원가입</h2>
<img src="../static/images/images/KNU.jpg" height="90" width="90"/>
</div>
<div>
<form action="/" method="post">
    New ID : <input type = "text" name="NId"> <br/>
    New PW : <input type = "text" name="NPw"> <br/>
    <input type="submit" value="가입하기">
</form>
</div>
</body>
</html>